/* line 1, ../scss/_transaction_list.scss */
.TransactionsList-container {
  float: left;
  height: 100%;
}

/* line 6, ../scss/_transaction_list.scss */
.TransactionsList {
  width: 600px;
  border-right: 1px solid #ddd;
  overflow: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 16, ../scss/_transaction_list.scss */
.TransactionList-header {
  width: 600px;
  height: 125px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* line 1, ../scss/_transaction.scss */
.Transaction {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: block;
}

/* line 8, ../scss/_transaction.scss */
.Transaction-dateTime {
  float: left;
  height: 100%;
  box-sizing: border-box;
  width: 50px;
  text-align: center;
  /*box-shadow: 1px 1px 5px #bbb;*/
  padding-top: 20px;
}

/* line 18, ../scss/_transaction.scss */
.Transaction-dateTime-month {
  text-transform: uppercase;
  font-size: 10pt;
  line-height: 10pt;
  font-weight: bold;
  color: #8f8f8f;
}

/* line 26, ../scss/_transaction.scss */
.Transaction-dateTime-time {
  font-size: 7pt;
  line-height: 7pt;
  color: #ababab;
  margin-top: 2px;
}

/* line 33, ../scss/_transaction.scss */
.Transaction-dateTime-day {
  color: #8f8f8f;
  font-weight: bold;
  font-size: 14pt;
  line-height: 14pt;
}

/* line 40, ../scss/_transaction.scss */
.Transaction-details {
  float: left;
  height: 100%;
  box-sizing: border-box;
  width: 550px;
  padding: 15px;
}

/* line 48, ../scss/_transaction.scss */
.Transaction-details-row {
  height: 20px;
}

/* line 52, ../scss/_transaction.scss */
.Transaction-details-title {
  font-size: 16pt;
  line-height: 16pt;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: #000;
  opacity: 0.5;
}

/* line 64, ../scss/_transaction.scss */
.Transaction-details-amount {
  font-size: 16pt;
  line-height: 16pt;
  display: inline-block;
  float: right;
}

/* line 71, ../scss/_transaction.scss */
.Transaction-details-amount--credit {
  color: #e05b5b;
}

/* line 75, ../scss/_transaction.scss */
.Transaction-details-amount--debit {
  color: #69b47e;
}

/* line 79, ../scss/_transaction.scss */
.Transaction-details-description {
  font-size: 10pt;
  line-height: 10pt;
  height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
  width: 420px;
  color: #000;
  opacity: 0.5;
}

/* line 92, ../scss/_transaction.scss */
.Transaction-details-tagContainer {
  height: 10px;
  margin-top: 15px;
}

/* line 97, ../scss/_transaction.scss */
.Transaction-tag {
  display: inline-block;
  font-size: 10pt;
  line-height: 10pt;
  font-weight: bold;
  margin-right: 10px;
  color: #aaa;
}

/* line 106, ../scss/_transaction.scss */
.Transaction-tag--more {
  color: #000;
  opacity: 0.2;
}

/* line 111, ../scss/_transaction.scss */
.Transaction-tag--category {
  color: #000;
  opacity: 0.2;
  margin: 0;
  margin-top: 7px;
  float: right;
  text-transform: uppercase;
}

/* line 120, ../scss/_transaction.scss */
.Transaction-tag--green {
  color: #7cb58c;
}

/* line 124, ../scss/_transaction.scss */
.Transaction-tag--blue {
  color: #3770b0;
}

/* line 128, ../scss/_transaction.scss */
.Transaction-tag--yellow {
  color: #e5e497;
}

/* line 132, ../scss/_transaction.scss */
.Transaction-tag--purple {
  color: #8f7cb5;
}

/* line 136, ../scss/_transaction.scss */
.Transaction-institution {
  height: 10px;
  width: 40px;
  background-color: rgba(8, 70, 168, 0.7);
  float: right;
  bottom: 0;
}

/* line 4, ../scss/overview.scss */
body {
  font-family: 'Titillium Web', sans-serif;
}
