<!DOCTYPE html>
    <head>
        <title>Overview</title>

        {% include "_js_libs.html" %}

        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
    </head>
    <body>
        <div class="FlexContainer FlexContainer--column">
            {% include "navbar.html" with total=total %}
            <div class="FlexContainer-inner">
                <div class="FlexContainer">
                    <div class="FlexContainer BodyContainer FlexContainer--row">
                        <div class="FlexContainer-inner">
                            {% include "sidebar.html" %}
                            {% include "transactions_list.html" with transactions=transactions %}
                            {% include "details.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>