<li class="Transaction">
    <div class="Transaction-dateTime">
        <div class="Transaction-dateTime-month">
            Jan
        </div>
        <div class="Transaction-dateTime-day">
            27
        </div>
        <div class="Transaction-dateTime-time">
            12:01PM
        </div>
    </div>
    <div class="Transaction-details">
        <div class="Transaction-details-row">
            <div class="Transaction-details-title">
                The Grove Yerba Buena Gardens
            </div>
            <div class="Transaction-details-amount Transaction-details-amount--credit">
                - $18.43
            </div>
        </div>
        <div class="Transaction-details-description">
            Grabbing lunch with some coworkers for a meeting to include a description in my transaction.
        </div>
        <div class="Transaction-details-tagContainer">
            <div class="Transaction-tag Transaction-tag--blue">
                Date Weekend
            </div>
            <div class="Transaction-tag Transaction-tag--green">
                New York Trip
            </div>
            <div class="Transaction-tag Transaction-tag--purple">
                Snowglobe
            </div>
            <div class="Transaction-tag Transaction-tag--more">
                + 2 More
            </div>
            <div class="Transaction-tag Transaction-tag--category">
                Restaurants
            </div>
        </div>
    </div>
</li>