<style>
.TransactionsList-container {
    float: left;
    height: 100%;
}

.TransactionsList {
    width: 600px;
    border-right: 1px solid #ddd;
    overflow: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.TransactionList-header {
    width: 600px;
    height: 125px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
</style>
<div class="TransactionsList-container">
    <!-- <div class="TransactionList-header">

    </div> -->
    <ul class="TransactionsList">
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
    </ul>
</div>