{% load humanize %}
<li class="Transaction">
    <div class="Transaction-dateTime">
        <div class="Transaction-dateTime-month">
            {{ transaction.month|date:'N'|slice:"3" }}
        </div>
        <div class="Transaction-dateTime-day">
            {{ transaction.month|date:'d' }}
        </div>
    </div>
    <div class="Transaction-details">
        <div class="Transaction-details-row">
            <div class="Transaction-details-title">
                {{ transaction.label }}
            </div>
            <div class="Transaction-details-amount Transaction-details-amount--credit">
                - ${{ transaction.amount|floatformat:2|intcomma }}
            </div>
        </div>
        <div class="Transaction-details-description">
            Testing out a description here but it would be neat to be able to edit it!
        </div>
        <div class="Transaction-details-tagContainer">
            <div class="Transaction-tag Transaction-tag--blue">
                Date Weekend
            </div>
            <div class="Transaction-tag Transaction-tag--green">
                New York Trip
            </div>
            <div class="Transaction-tag Transaction-tag--purple">
                Snowglobe
            </div>
            <div class="Transaction-tag Transaction-tag--more">
                + 2 More
            </div>
            <div class="Transaction-tag Transaction-tag--category">
                Restaurants
            </div>
        </div>
    </div>
</li>