<div class="TransactionsList-container">
    <ul class="TransactionsList">
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
        {% include "transaction.html" %}
    </ul>
</div>